<h1>Get this stuff done:</h1>

{{#each todos}}
{{!--this is a single todo --}}
<p>
    <a href="/{{id}}">
    {{title}}: 
    </a>
    {{isdone}}
    </p>

{{/each}}

<a href = "/new">Add Todo</a>
<br><br>






