
<h2>Add a new Todo!</h2>

<form action="/new" method="POST">
<input type="text" name="title" id="">
<br><br>
<input type="submit">
<input type="reset">
</form>
<br><br>
<a href ="/">Return to list</a>